[submodule "lookaside/java-1.8.0-openjdk"]
	path = lookaside/java-1.8.0-openjdk
	url = ../lookaside_java-1.8.0-openjdk.git
[submodule "deps/freetype"]
	path = deps/freetype
	url = ../deps_freetype.git
[submodule "tools/bootjdk7"]
	path = tools/bootjdk7
	url = ../tools_bootjdk7.git
[submodule "tools/cmake"]
	path = tools/cmake
	url = ../tools_cmake.git
[submodule "tools/cygwin"]
	path = tools/cygwin
	url = ../tools_cygwin.git
[submodule "tools/make"]
	path = tools/make
	url = ../tools_make.git
[submodule "tools/pkgconfig"]
	path = tools/pkgconfig
	url = ../tools_pkgconfig.git
[submodule "tools/toolchain/directx"]
	path = tools/toolchain/directx
	url = ../tools_toolchain_directx.git
[submodule "tools/toolchain/msvcr100"]
	path = tools/toolchain/msvcr100
	url = ../tools_toolchain_msvcr100.git
[submodule "tools/toolchain/sdk71"]
	path = tools/toolchain/sdk71
	url = ../tools_toolchain_sdk71.git
[submodule "tools/toolchain/vs2010e"]
	path = tools/toolchain/vs2010e
	url = ../tools_toolchain_vs2010e.git
[submodule "tools/zip"]
	path = tools/zip
	url = ../tools_zip.git
[submodule "lookaside/freetype"]
	path = lookaside/freetype
	url = ../lookaside_freetype.git
[submodule "lookaside/zlib"]
	path = lookaside/zlib
	url = ../lookaside_zlib.git
[submodule "lookaside/ca-certificates"]
	path = lookaside/ca-certificates
	url = ../lookaside_ca-certificates.git
[submodule "lookaside/tzdata"]
	path = lookaside/tzdata
	url = ../lookaside_tzdata.git
[submodule "lookaside/dejavu-fonts"]
	path = lookaside/dejavu-fonts
	url = ../lookaside_dejavu-fonts.git
[submodule "tools/wix"]
	path = tools/wix
	url = ../tools_wix.git
[submodule "tools/wixgen"]
	path = tools/wixgen
	url = ../tools_wixgen.git
[submodule "lookaside/giflib"]
	path = lookaside/giflib
	url = ../lookaside_giflib.git
[submodule "lookaside/libpng"]
	path = lookaside/libpng
	url = ../lookaside_libpng.git
[submodule "tools/nasm"]
	path = tools/nasm
	url = ../tools_nasm.git
[submodule "lookaside/libjpeg-turbo"]
	path = lookaside/libjpeg-turbo
	url = ../lookaside_libjpeg-turbo.git
[submodule "lookaside/curl"]
	path = lookaside/curl
	url = ../lookaside_curl.git
[submodule "lookaside/jansson"]
	path = lookaside/jansson
	url = ../lookaside_jansson.git
[submodule "lookaside/openssl"]
	path = lookaside/openssl
	url = ../lookaside_openssl.git
[submodule "lookaside/popt"]
	path = lookaside/popt
	url = ../lookaside_popt.git
[submodule "contrib/update-notifier"]
	path = contrib/update-notifier
	url = ../contrib_update-notifier.git
[submodule "tools/cygwin64"]
	path = tools/cygwin64
	url = ../tools_cygwin64.git
[submodule "tools/ant182"]
	path = tools/ant182
	url = ../tools_ant182.git
[submodule "tools/toolchain/directx-june2010"]
	path = tools/toolchain/directx-june2010
	url = ../tools_toolchain_directx-june2010.git
[submodule "deps/openjfx"]
	path = deps/openjfx
	url = ../deps_openjfx.git
[submodule "lookaside/icedtea-web"]
	path = lookaside/icedtea-web
	url = ../lookaside_icedtea-web.git
[submodule "lookaside/tagsoup"]
	path = lookaside/tagsoup
	url = ../lookaside_tagsoup.git
[submodule "lookaside/rhino"]
	path = lookaside/rhino
	url = ../lookaside_rhino.git
[submodule "deps/icedtea-web"]
	path = deps/icedtea-web
	url = ../deps_icedtea-web.git
[submodule "deps/tagsoup"]
	path = deps/tagsoup
	url = ../deps_tagsoup.git
[submodule "deps/rhino"]
	path = deps/rhino
	url = ../deps_rhino.git
[submodule "contrib/itw-launcher"]
	path = contrib/itw-launcher
	url = ../contrib_itw-launcher.git
[submodule "upstream/openjfx-8u"]
	path = upstream/openjfx-8u
	url = ../upstream_openjfx-8u.git
[submodule "tools/python27"]
	path = tools/python27
	url = ../tools_python27.git
[submodule "tools/ruby"]
	path = tools/ruby
	url = ../tools_ruby.git
[submodule "tools/cmake33"]
	path = tools/cmake33
	url = ../tools_cmake33.git
[submodule "tools/gperf"]
	path = tools/gperf
	url = ../tools_gperf.git
[submodule "external/jansson"]
	path = external/jansson
	url = ../external_jansson.git
[submodule "external/popt"]
	path = external/popt
	url = ../external_popt.git
[submodule "upstream/jdk"]
	path = upstream/jdk
	url = ../upstream_jdk.git
[submodule "external/curl"]
	path = external/curl
	url = ../external_curl.git
[submodule "external/openssl"]
	path = external/openssl
	url = ../external_openssl.git
[submodule "external/zlib"]
	path = external/zlib
	url = ../external_zlib.git
[submodule "external/freetype"]
	path = external/freetype
	url = ../external_freetype.git
[submodule "external/giflib"]
	path = external/giflib
	url = ../external_giflib.git
[submodule "external/libjpeg-turbo"]
	path = external/libjpeg-turbo
	url = ../external_libjpeg-turbo.git
[submodule "external/libpng"]
	path = external/libpng
	url = ../external_libpng.git
[submodule "tools/perl520"]
	path = tools/perl520
	url = ../tools_perl520.git
[submodule "tools/bootjdk10"]
	path = tools/bootjdk10
	url = ../tools_bootjdk10.git
[submodule "lookaside/java-11-openjdk"]
	path = lookaside/java-11-openjdk
	url = ../lookaside_java-11-openjdk.git
[submodule "tools/cygwin_jdk11"]
	path = tools/cygwin_jdk11
	url = ../tools_cygwin_jdk11.git
[submodule "tools/maven"]
	path = tools/maven
	url = ../tools_maven.git
[submodule "deps/jmc-mvnrepo"]
	path = deps/jmc-mvnrepo
	url = ../deps_jmc-mvnrepo.git
[submodule "upstream/jmc"]
	path = upstream/jmc
	url = ../upstream_jmc.git
[submodule "deps/jmc-p2repo-local"]
	path = deps/jmc-p2repo-local
	url = ../deps_jmc-p2repo-local.git
[submodule "deps/jmc-p2repo-photon"]
	path = deps/jmc-p2repo-photon
	url = ../deps_jmc-p2repo-photon.git
[submodule "deps/jmc"]
	path = deps/jmc
	url = ../deps_jmc.git
[submodule "tools/gradle48"]
	path = tools/gradle48
	url = ../tools_gradle48.git
[submodule "tools/bootjdk7_32"]
	path = tools/bootjdk7_32
	url = ../tools_bootjdk7_32.git
[submodule "deps/jmc-p2repo-babel-photon"]
	path = deps/jmc-p2repo-babel-photon
	url = ../deps_jmc-p2repo-babel-photon.git
[submodule "contrib/ojdkbuild-utils"]
	path = contrib/ojdkbuild-utils
	url = ../contrib_ojdkbuild-utils.git
[submodule "tools/toolchain/sdk10_17763"]
	path = tools/toolchain/sdk10_17763
	url = ../tools_toolchain_sdk10_17763.git
[submodule "tools/toolchain/vs2017bt_1416"]
	path = tools/toolchain/vs2017bt_1416
	url = ../tools_toolchain_vs2017bt_1416.git
[submodule "contrib/local-cleaner"]
	path = contrib/local-cleaner
	url = ../contrib_local-cleaner.git
[submodule "upstream/mslinks"]
	path = upstream/mslinks
	url = ../upstream_mslinks.git
[submodule "deps/mslinks"]
	path = deps/mslinks
	url = ../deps_mslinks.git
[submodule "tools/ghr"]
	path = tools/ghr
	url = ../tools_ghr.git
[submodule "tools/bootjdk12"]
	path = tools/bootjdk12
	url = ../tools_bootjdk12.git
[submodule "contrib/scripting-tasks"]
	path = contrib/scripting-tasks
	url = ../contrib_scripting-tasks.git
[submodule "contrib/installer-checks"]
	path = contrib/installer-checks
	url = ../contrib_installer-checks.git
[submodule "tools/jtreg42_653"]
	path = tools/jtreg42_653
	url = ../tools_jtreg42_653.git
[submodule "tools/jcstress"]
	path = tools/jcstress
	url = ../tools_jcstress.git
[submodule "tools/bootjdk13"]
	path = tools/bootjdk13
	url = ../tools_bootjdk13.git
