[submodule "lookaside/java-1.8.0-openjdk"]
	path = lookaside/java-1.8.0-openjdk
	url = ../lookaside_java-1.8.0-openjdk.git
[submodule "deps/freetype"]
	path = deps/freetype
	url = ../deps_freetype.git
[submodule "resources/scripts"]
	path = resources/scripts
	url = ../resources_scripts.git
[submodule "resources/cmake"]
	path = resources/cmake
	url = ../resources_cmake.git
[submodule "resources/fonts"]
	path = resources/fonts
	url = ../resources_fonts.git
[submodule "tools/bootjdk7"]
	path = tools/bootjdk7
	url = ../tools_bootjdk7.git
[submodule "tools/cmake"]
	path = tools/cmake
	url = ../tools_cmake.git
[submodule "tools/cygwin"]
	path = tools/cygwin
	url = ../tools_cygwin.git
[submodule "tools/make"]
	path = tools/make
	url = ../tools_make.git
[submodule "tools/pkgconfig"]
	path = tools/pkgconfig
	url = ../tools_pkgconfig.git
[submodule "tools/toolchain/directx"]
	path = tools/toolchain/directx
	url = ../tools_toolchain_directx.git
[submodule "tools/toolchain/msvcr100"]
	path = tools/toolchain/msvcr100
	url = ../tools_toolchain_msvcr100.git
[submodule "tools/toolchain/sdk71"]
	path = tools/toolchain/sdk71
	url = ../tools_toolchain_sdk71.git
[submodule "tools/toolchain/vs2010e"]
	path = tools/toolchain/vs2010e
	url = ../tools_toolchain_vs2010e.git
[submodule "tools/zip"]
	path = tools/zip
	url = ../tools_zip.git
[submodule "lookaside/freetype"]
	path = lookaside/freetype
	url = ../lookaside_freetype.git
[submodule "lookaside/zlib"]
	path = lookaside/zlib
	url = ../lookaside_zlib.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = ../deps_zlib.git
[submodule "lookaside/ca-certificates"]
	path = lookaside/ca-certificates
	url = ../lookaside_ca-certificates.git
[submodule "lookaside/tzdata"]
	path = lookaside/tzdata
	url = ../lookaside_tzdata.git
[submodule "lookaside/nspr"]
	path = lookaside/nspr
	url = ../lookaside_nspr.git
[submodule "lookaside/nss"]
	path = lookaside/nss
	url = ../lookaside_nss.git
[submodule "deps/nss"]
	path = deps/nss
	url = ../deps_nss.git
