/*
 * Copyright 2016 Red Hat, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#define UNICODE
#define _UNICODE
#include "windows.h"

LANGUAGE 9, 1
#pragma code_page(1252)

1 VERSIONINFO
FILEVERSION     ${openjdk_EXE_VERSION}
PRODUCTVERSION  ${openjdk_EXE_VERSION}
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "${openjdk_VENDOR}"
            VALUE "FileDescription", "OpenJDK Dependency Library"
            VALUE "FileVersion", "${openjdk_FILE_VERSION}"
            VALUE "InternalName", "${PROJECT_NAME}"
            VALUE "LegalCopyright", "${openjdk_VENDOR}"
            VALUE "OriginalFilename", "${PROJECT_NAME}.dll"
            VALUE "ProductName", "${PROJECT_NAME}"
            VALUE "ProductVersion", "${openjdk_FILE_VERSION}"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04E4
    END
END
// manifest
1 RT_MANIFEST "${OJDKBUILD_DIR}/resources/buildres/deplib.manifest"
